.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 50px;
  column-gap: 30px;
  position: relative;
}

.user {
  width: 200px;
  height: 400px;
  border: 1px solid black
}

.search {
  margin: 20px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(69, 76, 220);
}

.search input {
  width: 200px;
  height: 30px;
  font-size: 18px;
}
.modal {
  position: absolute;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0, .5) ;
}
.modal_container {
  width: 500px;
  height: 400px;
  background-color: aliceblue;

}
button {
  width: 100px;
  height: 25px;
  margin-left: 20px;
  background-color: darksalmon;
  border: none;
}